exportPattern("^[[:alpha:]]+")
importFrom("tm", "Corpus", "VectorSource", "tm_map", "content_transformer")
importFrom("dplyr", "%>%", "group_by", "mutate", "case_when", "filter", "select", "if_else", "row_number")
importFrom("stringr", "str_count", "str_remove", "str_split", "str_replace_all", "str_extract_all", "str_replace", "str_extract", "str_to_title")
importFrom("tm", "Corpus", "VectorSource", "tm_map", "content_transformer", "stripWhitespace")
importFrom("tidyr", "separate", "unnest")
importFrom("graphics", "text")
importFrom("utils", "tail")
importFrom("htm2txt", "gettxt")
importFrom("zoo", "na.locf")
importFrom("pdftools", "pdf_info")

