exportPattern("^[[:alpha:]]+")
importFrom("tm", "Corpus", "VectorSource", "tm_map", "content_transformer")
importFrom("dplyr", "%>%", "group_by", "mutate", "case_when", "filter", "select")
importFrom("stringr", "str_split", "str_replace_all", "str_extract_all", "str_replace", "str_extract", "str_to_title")
importFrom("tm", "Corpus", "VectorSource", "tm_map", "content_transformer", "stripWhitespace")
importFrom("tidyr", "separate")
