body {
  background: #212121;
  color: #efedef;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6em;
  margin: 0;
  padding: 100px; }
h1 {
  font-size: 40px;
  line-height: 0.8em;
  color: rgba(255,255,255,0.2);}

.header {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
.left-column {
            text-align: center;
        }
.right-column {
            text-align: center;
            padding-left: 20px;
        }
.scotustext {
            font-size: 60pt;
            color: #cdcfd1;
  top: 0;
  z-index: 999;
        }
.developer {
            font-size: 20pt;
                        color: #fff;
        }
.center-name {
            font-size: 10pt;
                        color: #fff;
        }
.beginning {
            font-size: 10pt;
                        color: #fff;
        }
.logo {
            width: 250pt;
            height: 250pt;
            display: block;
            margin: 0 auto;
        }
.single-line-break {
      line-height: 1em;
    }

.documentation {
    color: #fd264f;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: #fff; }


.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  background-color: #f1f1f1;
  border: none;
  color: #000;
  padding: 15px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

.tab:hover {
  background-color: #ddd;
}

.content {
  display: none;
  padding: 20px;
  background-color: none;
}

h2 {
  margin-top: 0;
}

p {
  margin-bottom: 0;
}

